<header id="header">
  <div class="container">
    <div class="row">
      <div class="header-logo col-md-4">
        <a routerLink="/" class="logo"><img src="../../assets/img/xtender-logo-green.svg" alt="" /></a>
      </div>
      <div class="col-md-8">
        <nav class="nav cf">
          <ul class=""cf>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
            <li routerLinkActive="active"><a routerLink="products">Products</a></li>
            <li routerLinkActive="active"><a routerLink="about-us">About Us</a></li>
            <li routerLinkActive="active"><a routerLink="contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
