<section class="top-section" [ngStyle]="{'background': 'url(assets/img/' + aboutContent.topImg + ') no-repeat center center'}">
  <div class="container">
    <div class="row text-center">
      <div class="top-inner">
        <h1>{{ aboutContent.title }}</h1>
      </div>
    </div>
  </div>
</section>

<section class="about-inner-section">
  <div class="container">
    <p>{{ aboutContent.text }}</p>
  </div>
</section>

<section class="testimonials-section">
  <div class="container">
    <h2>Testimonials section</h2>
    <hr>
    <div class="row">
      <div class="col-md-4" *ngFor="let testimonial of testimonials">
        <h3>{{ testimonial.author }}</h3>
        <p><i>{{ testimonial.text }}</i></p>
      </div>
    </div>
    <hr>
  </div>
</section>
